<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TaskLists" verbose="1" parallel="tests">
    <parameter name="browser" value="chrome" />
    <parameter name="screen" value="1024x780" />
    <test name="DataMos" >
        <classes>
            <class name="com.example.tests.DataMosTest" />
        </classes>
    </test>
    <test name="Google" >
        <classes>
            <class name="com.example.tests.GoogleTest" />
        </classes>
    </test>
</suite>
